#root {
  font-family: 'Geist', system-ui, sans-serif;
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  background-color: #dc2626;
  color: white;
}
